/*@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Berkshire+Swash&family=Poppins:wght@400;500;600&display=swap');*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: rgb(245, 162, 235);
}
ul {
    list-style: none;
}
.navmenu {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.navmenu ul {
    margin-left: 40px;
    position: relative;
}
.navmenu ul li a {
    text-decoration: none;
    position: relative;
    font-size: 1.6rem;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.navmenu ul li a span {
    white-space: nowrap;
    position: absolute;
    top: 0.6rem;
    font-size: 1rem;
    padding-left: 38px;
    color: indigo;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.navmenu ul li a i {
    padding: 20px 8px;
    color: rgb(0, 255, 208);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.navmenu ul li a:hover span {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
.slide-out-top {
    -webkit-transform: scale(0.8,0.8) translateY(-60px);
    transform: scale(0.8,0.8) translateY(-60px);
    -moz-transform: scale(0.8,0.8) translateY(-60px);
    -ms-transform: scale(0.8,0.8)translateY(-60px);
    -o-transform: scale(0.8,0.8)translateY(-60px);
}
.slide-out {
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}
.slide-out-bottom {
    -webkit-transform: scale(0.8,0.8) translateY(-60px);
    transform: scale(0.8,0.8) translateY(-60px);
    -moz-transform: scale(0.8,0.8) translateY(-60px);
    -ms-transform: scale(0.8,0.8)translateY(-60px);
    -o-transform: scale(0.8,0.8)translateY(-60px);
}